<h1> New Applicants</h1>

<%= form_with url: "/applicants", method: :post, local: true do |form| %>
  <% if @applicant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@applicant.errors.count, "error") %> prohibited this applicant from being saved:</h2>

      <ul>
      <% @applicant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<section>
  <%= form.label :name %>
  <%= form.text_field :name, null: false%><br><br>
  <%= form.label :address %>

  <%= form.text_field :address, null: false%><br><br>
  <%= form.label :description %>
  <%= form.text_field :description %><br> <br>
  <%= form.submit 'Create Application' %>
</section>
<% end %>
