<h1> New Applicants</h1>

<%= form_with url: "/applicants", method: :post, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name, null: false%><br><br>
  <%= form.label :address %>

  <%= form.text_field :address, null: false%><br><br>
  <%= form.label :description %>
  <%= form.text_field :description %><br><br>
  <%= form.submit 'Create Application' %>


  <% flash.each do |type, msg| %>
    <div style="color:red">
      <%= msg %>
    </div>
  <% end %>

<% end %>
