<h1>Application</h1>

<p><strong>Name: </strong><%= @applicant.name %></p>
<p><strong>Address: </strong><%= @applicant.address %></p>
<p><strong>Application Status: </strong><%= @applicant.status %></p>

<br>

<p><strong>Why I'd be a good home: </strong><%= @applicant.description %></p>

<p><strong>Pets Applied For: </strong></p>
<% @applicant.pets.each do |pet| %>
<%# -------these lines don't work yet------- %>
  <% if @cart.empty? %>
    <p><i>You haven't applied for any pets.</i></p>
  <% else %>
    <p><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></p>
  <% end %>
<%# -------these lines don't work yet------- %>
<% end %>

<% if @applicant.status == "In Progress" %>
  <p><strong>Add a Pet to this Application</strong></p>
    <%= form_with url: "/applicants/#{@applicant.id}?search=pet_name", method: :get, local: true do |f| %>
      <%= f.label :pet_name %>
      <%= f.text_field :pet_name %>
      <%= f.submit 'Search' %>
    <% end %>
<%end%>

<br>
<br>
<br>
<br>
<br>
