<!DOCTYPE html>
<html>
  <head>
    <title>Adopt, Don't Shop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>

    <nav>
      <%= nav_link("Pets", pets_path) %>
      <%= nav_link("Applicants", applicants_path) %>
      <%= nav_link("Shelters", shelters_path) %>
      <%= nav_link("Veterinarians", veterinarians_path) %>
      <%= nav_link("Veterinary Offices", veterinary_offices_path) %>
      <%= link_to "Admin", "/admin" %>
    </nav>

    <%= yield %>
    
  </body>
</html>
